@charset "utf-8";

body {
    font-family: "Tahoma", sans-serif;
    background: #000000;
    color: #fff;
}
.primeiraParte{
    position: relative;
    text-align: center;
    font-size: 60px;
}

.botao{ 
    justify-content:right;
    background-color: #FFBD4A;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
    
}
.logo {
    height: 130px;
    align-items: left;
}

.menu {
    height: 130px;
}
header{
    background-color: #050505;
    display: flex;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo {
    font-size: 20px;
}

.dispositivos{
    background: linear-gradient(#FFBD4A,#000000);
    padding: 8px;
    font-size: 20px;
    text-align: center;
}

.dTitulo {
    text-align: center;
    font-size: 40px;
}
article{
    display: flex;
    gap: 10px;
}
article img {
    width: 400px;
    height: 400px;
    
}

.video-bg video {
    width: 100%;
    height: 1100px;
}



.tab {
    width: 20%;
    padding: 8px;
    box-sizing: border-box;
    text-align: relative;
   
}

.price-box {
    background: #070707;
    color: #fffefe;
    list-style-type: none;
    border: 1px solid #fdfdfd55;
    border-radius: 20px
}

.price-box .plano {
    background-color: #ffffff;
    color: #302e2e;
    font-size: 25px;
    border-radius: 20px;

}

.price-box .plano.header-green {
    background: #FFBD4A;
    border-radius: 20px;

}

.price-box li {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

li.menor {
    font-size: 20px;
}

.exclusiva {
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.exclusiva > img {
    width: 60%;
    height: 80%;
}


.raio{
    width: 90px;
    height: 90px;
}
.campeonato {
    display: flex;
    align-items: center;
    font-size: 30px;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}

.campeonato >img{
    width: 60%;
    height: 80%;
}
.btn {
    background-color: #FFBD4A;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

footer {
    background:#3d3d3d;
    padding: 2px;
    text-align: center;
}

footer > img{
    width: 35px;
    height: 35px;
}
@media(max-width:768px) {
    .col {
        width: 100%;
    }
}