@charset "utf-8";

body {
    font-family: "Tahoma", sans-serif;
    background: #000000;
    color: #fff;

}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 130px;
    align-items: left;
}

.menu {
    height: 130px;

}

.titulo {
    position: relative;
    text-align: center;
    font-size: 60px;
}


.conteudo {
    font-size: 20px;
   
}

.dispositivos{
    background: linear-gradient(#FFBD4A,#000000)
}
.dTitulo {
    text-align: center;
    font-size: 40px;
}

.article {
    display: flex;
    vertical-align: baseline;
    width: 3px;
}

.video-bg {
    width: 100;
    height: 120px;
}

.tab {
    width: 20%;
    padding: 8px;
    box-sizing: border-box;
    text-align: relative;
}

.price-box {
    background: #070707;
    color: #fffefe;
    list-style-type: none;
    border: 1px solid #fdfdfd55;
    border-radius: 20px
}

.price-box .plano {
    background-color: #ffffff;
    color: #302e2e;
    font-size: 25px;
    border-radius: 20px;

}

.price-box .plano.header-green {
    background: #FFBD4A;
    border-radius: 20px;

}

.price-box li {
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

li.menor {
    font-size: 20px;
}

.exclusiva {
    font-size: 20px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.exclusiva > img {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    
}

.btn {
    background-color: #FFBD4A;
    border: none;
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 10px;
}

footer {
    text-align: center;
}

@media(max-width:768px) {
    .col {
        width: 100%;
    }
}