@charset "utf-8";

.container{
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    grid-template-areas: "item1 item1 item2 item2" "item3 item3 item3 item3 " "filho4 filho4 filho4 filho4 ";
    row-gap: 1px;
    column-gap:1px ;

}

.item1{
    border: 1px solid #000;
    background-color: aqua;
    grid-area: 1;
    width: 50px;
    height: 50px;
}

.item2{
    border: 1px solid #000;
    background-color: rgb(229, 147, 254);
    grid-area: 2;
    width: 50px;
    height: 50px;
}
.item3{
    border: 1px solid #000;
    background-color: rgb(191, 0, 255);
    grid-area: 3;
    width: 50px;
    height: 50px;
}
.item4{
    border: 1px solid #000;
    background-color: rgb(72, 255, 0);
    grid-area: 4;
    width: 50px;
    height: 50px;
}
.item5{
    border: 1px solid #000;
    background-color: aqua;
    grid-area: 5;
    width: 50px;
    height: 50px;
}

.item6{
    border: 1px solid #000;
    background-color: rgb(229, 147, 254);
    grid-area: 6;
    width: 50px;
    height: 50px;
}
.item7{
    border: 1px solid #000;
    background-color: rgb(191, 0, 255);
    grid-area: 7;
    width: 50px;
    height: 50px;
}
.item8{
    border: 1px solid #000;
    background-color: rgb(72, 255, 0);
    grid-area: 8;
    width: 50px;
    height: 50px;
}
.item9{
    border: 1px solid #000;
    background-color: rgb(72, 255, 0);
    grid-area: 9;
    width: 50px;
    height: 50px;
}