* {
  background-color:  #000000;
  color: #ff440b;
  font-size: 1rem;
  font-family: fantasy;
  text-align: center;
}

.teste{
  border: 1px solid #acaba8;
  text-align: center;
}
 article p {
  color: #ffea02;
 }