body{
  background-image:linear-gradient(to right,#000000,#525555 );
    color: #842626;
  font-family: 'Anton',
  font-family 'Delicious Handrawn', cursiva;
  font-family: 'Edu NSW ACT Foundation', cursiva,
  font-family ; 'Farsan', cursiva,
  font-family; 'Satisfy', cursiva,

}

h4{
  font-family: 'Anton', sem serifa,
font-family: 'Delicious Handrawn' cursiva,
font-family: 'Edu NSW ACT Foundation', cursiva,
font-family: 'Farsan', cursiva,
font-family: 'Satisfy', cursiva;
}

section{
}