body {
  color: #000000;
  background-image: url(../HTML/imagens/blue.jpg);
  background-repeat:repeat;
  background-position: center;
  background-size: cover;

}
header{
  text-align: center;
  border: 2px solid #000000;
  background-color:#8bf4fb
}


img {
  width: 420px;
  height: 240px;
}
figure {
  text-align: center;
  width: 420px;
  padding: 5px;
  border: 2px solid #000000;
}
