h1 {
  color: rgb(150, 73, 162);
  text-align: center;
	font-family: 'Courier New', Courier, monospace;

}


body {
  color: rgb(251, 251, 251);
  text-align: center;
  background-color: rgb(114, 111, 111);
}