html {
	background-color: #c1d0df;
  }
  p{
	color: rgb(99, 176, 99);
	font-size: 1.2em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
h1{
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	text-align: center;
	background-color: #4b6b70;
}
h2{
	font-family: arial;
	color: #717dbb;
	text-align: center;
	background-color: #00b1cc;
}
small{
	color: rgb(8, 2, 2);
	font-size: 0.9em;
	text-align: center;
	font-family: 'Courier New', Courier, monospace;
}
footer{
	font-family: arial;
	color: #78c9ab;
	text-align: center;
	background-color: #406494;